# Node dependencies
node_modules/

# Uploaded files
uploads/

# Environment & secrets
.env
firebase-service-account.json

# Python cache


# Ignore large AI models
python/models/tongue_disease/*.keras
python/models/anemia_nail/*.tflite
*.keras
*.tflite

